<div class="dog">
  <h1>It's a dog</h1>
  <ul class="breed-list">
    <% @breedNames.each do | breedName | %>    
      <li> <%= link_to breedName, {:action => 'show', :id => breedName } -%></li>
    <% end %>
  </ul>
</div>
